<footer class="text-center">
    <small>
        <strong>Author:</strong> <a href="https://github.com/lubomirjurukov" target="_blank">Lyubomir Yurukov</a>
        <br>
        <strong>&copy; 2015</strong>
    </small>
</footer>